<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Question_1.Properties.Settings.final_examConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=root;persistsecurityinfo=True;database=final_exam;port=3306"
            providerName="MySql.Data.MySqlClient" />
        <add name="Question_1.Properties.Settings.final_examConnectionString1"
            connectionString="server=localhost;user id=root;database=final_exam;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>